/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* size */
  --size-border-radius: 4px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-black);
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu,
.navbar__menu--list {
  display: flex;
  margin-right: 10px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-light-grey);
}

.major {
  margin: 38px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 10px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 150px;
  text-align: center;
  transition: all 300ms ease;
}

.home__avartar {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  border: 2px solid var(--color-dark-grey);
}

.home__title,
.home__description {
  color: var(--color-dark-grey);
}

.home__button {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-grey);
  border-radius: 3px;
}

/* .home--blur {
  opacity: 0.1;
} */

/* section */
.section {
  padding: 50px;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 5px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__icon i {
  transition: all 200ms ease;
}

.major__icon i:hover {
  color: var(--color-black);
  transform: rotate(5deg) scale(1.1);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* skills */
#skills {
  background-color: var(--color-dark-white);
}

.skill {
  margin-bottom: 16px;
}

.skillset {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-light-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__left {
  flex-basis: 60%;
  background-color: skyblue;
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
  background-color: rgb(107, 195, 230);
  margin: 0;
}

.etc {
  background-color: rgb(73, 136, 161);
}

.tools,
.etc {
  padding: 40px;
}

/* work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-light-grey);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 50ms ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: var(--color-black);
  transition: all 100ms ease-in;
  transform: translateY(10px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  display: block;
  position: relative;
  left: 50%;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  margin-left: -12px;
  margin-top: 8px;
}

.project:hover .project__description {
  opacity: 0.7;
  transform: translateY(0px);
}

/* testimonials */
#introduces {
  background-color: var(--color-dark-white);
}

.introduce {
  display: flex;
  margin: 32px 0;
}

.introduce__avatar {
  width: 150px;
  height: 150px;
  margin: 12px;
  border-radius: 50%;
}

.introduce__speech-bubble {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 10%;
}

/* .className:nth-child(odd|even) {} 으로 홀짝에 따라 스타일 지정 가능*/

/* contact */

.contact__rights {
  margin: 50px;
}

.contact__title {
  margin: 32px 0;
}

#github {
  color: var(--color-black);
  font-size: var(--font-large);
}

.contact__links i:hover {
  transform: rotate(15deg) scale(1.1);
  transition: all 50ms;
}

/* arrow */
.arrow {
  font-size: 50px;
  color: var(--color-black);
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

/* responsive */
@media screen and (max-width: 720px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu,
  .navbar__menu--list {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu,
  .navbar__menu--list.open {
    display: block;
  }

  .skillset {
    flex-direction: column;
  }

  .about__majors {
    flex-direction: column;
  }
}
